/*
	Theme Name: Hueman Child
	Theme URI: http://alxmedia.se/themes/hueman/
	Description: Sample child theme for customization.
	Author: You
	Author URI: 
	Template: hueman
	Version: 1.0.0
*/

@import url("../hueman/style.css");

/* ------------------------------------------------------------------------- *
 *  Theme customization starts here
/* ------------------------------------------------------------------------- */

/* Global */
.post-meta .rcno-term-list {
	display: inline-block;
}

#rcno-review-score-box ul li {
	list-style: none;
}

.rating {
	margin: 11px 0 -6px 0 !important;
	display: inline-block;
}

.logo-tagline-group {
	text-align: center;
}

.site-description,
.site-title {
	float: none;
}

.rcno-isotope-grid-item .rcno-admin-rating .jq-star {
	width: 12px;
}

ul.rcno-alphabet-navigation li {
	list-style: none !important;
}

.post-thumbnail {
	max-height: 500px;
	overflow: hidden;
}

/* Tablet - 800px, 768px & 720px */
@media only screen and (min-width: 720px) and (max-width: 800px) {
	.mystyle {}
}

@media (max-width: 599px) {
	.post-list .grid-item {
		margin: 0 5px;
		width: 46%;
	}
}

/* Mobile - 480px & 320px */
@media only screen and (max-width: 719px) {
	.mystyle {}
}


/* Mobile - 320px */
@media only screen and (max-width: 479px) {
	.post-list .grid-item {
		margin: 0 5px;
		width: 46%;
	}
}
